.ofcp-machine {
    width: 1024px;
    height: 768px;
    position: relative;

    .table {
        .card img {
            max-width: none;
        }

        .spot {
            position: absolute;

            &.spot-1 {
                top: 20px;
                left: 400px;
            }

            &.spot-2 {
                top: 350px;
                left: 50px;
            }

            &.spot-3 {
                top: 350px;
                left: 700px;
            }

            .unset-cards {
                clear: both;
                padding-top: 10px;
            }

            .unset-cards .card {
                margin: 6px;
                float: left;
            }

            .unset-cards .card.selected {
                margin: 4px;
                border: solid 2px red;
            }
        }
    }
}