html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  background: url(/media/az_subtle.png);
}

.navbar { margin-bottom: 0 }

.job-machine {
  -webkit-tap-highlight-color: transparent;
}

.rwb-machine {
  -webkit-tap-highlight-color: transparent;
}

#primary-container {
  float: left;
}

#right-bar {
  float: left;
  width: 300px;
  height: 100%;

  #minigames-container {
  }

  #chat {
    height: 100%;
    padding-left: 5px;

    .user-count {
      background-color: #FFFFFF;
      padding-top: 5px;
      padding-right: 20px;
      text-align: right;
    }

    background: url(/media/grey.png);


    .messages {
      display: block;
      margin: 0;
      font-family: Arial;
      font-size: 16px;
      list-style-type: none;
      padding-right: 5px;

      > li {
        padding: 8px 2px 8px 10px;
        background-color: #99CCFF;

        margin: 5px 0 5px 0;
        border-radius: 10px;
        -webkit-border-radius: 10px;

        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
        overflow-x: hidden;

        &.system {
          background-color: #66CCFF;
        }

        &.sprinkles {
          background-color: #FF99FF;
        }
      }

      overflow-y: scroll;
    }

    .message {
      width: 280px;
    }

    .send {
      width: 281px;
      margin-top: 10px;
    }
  }
}

.not-logged-in, .logged-in {
  display: none;
}

.welcome {
background: #4a4dea; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRhNGRlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNzIxZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #4a4dea 0%, #2721e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a4dea), color-stop(100%,#2721e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4a4dea 0%,#2721e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4a4dea 0%,#2721e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4a4dea 0%,#2721e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4a4dea 0%,#2721e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4dea', endColorstr='#2721e5',GradientType=0 ); /* IE6-8 */
}
