html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  background: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/az_subtle.png);
}

/*.thoughtbot {
  background-color: #ee432e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee432e), color-stop(50%, #c63929), color-stop(50%, #b51700), color-stop(100%, #891100));
  background-image: -webkit-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -moz-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -ms-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -o-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  border: 1px solid #951100;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  color: #fff;
  font: bold 20px/1 "helvetica neue", helvetica, arial, sans-serif;
  padding: 12px 0 14px 0;
  text-align: center;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
  width: 150px;

  &:hover {
      background-color: #f37873;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f37873), color-stop(50%, #db504d), color-stop(50%, #cb0500), color-stop(100%, #a20601));
      background-image: -webkit-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
      background-image: -moz-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
      background-image: -ms-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
      background-image: -o-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
      background-image: linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
      cursor: pointer;
  }

  &:active {
    background-color: #d43c28;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d43c28), color-stop(50%, #ad3224), color-stop(50%, #9c1500), color-stop(100%, #700d00));
    background-image: -webkit-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -moz-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -ms-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -o-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
    box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
  }
}*/

/*#top-bar {
  width: 100%;
  background-color: #eee;

  button {
    //.thoughtbot;
  }
}*/

.job-machine {
    position: absolute;
    background-color: @blue;
}

.rwb-machine {
  .credits {
    font-size: 2em;
    font-weight: bold;
  }
  .spin {
  }
}

#chat {
  position: absolute;

  //background-color: yellow;
  background: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/grey.png);

  .user-count {
    background-color: #FFFFFF;
    margin-bottom: 5px;
    padding: 10px;
    padding-right: 20px;
    text-align: right;
  }

  .messages {
    display: block;
    font-family: Arial;
    font-size: 16px;
    list-style-type: none;

    > li {
      padding: 8px 2px 8px 10px;
      background-color: #99CCFF;

      margin: 5px 10px 5px 0;
      border-radius: 10px;
      -webkit-border-radius: 10px;

      &.system {
        background-color: #66CCFF;
      }

      &.sprinkles {
        background-color: #FF99FF;
      }
    }

    overflow-y: scroll;
  }

  .message {
    width: 79%;
    margin-left: 5%;
  }

  .send {
    margin-bottom: 10px;
  }
}

@yellow: #FFFF50;
@blue: #00009E;
@white: #FFFFFF;
@red: #900000;

.card {
    position: absolute;
}

.hold {
    position: absolute;
    &:after { content: "held" }
    color: @white;
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
}

.deal, .betOne, .betMax {
  position: absolute;
  font-family: Arial;
  background-color: @yellow;
  border-stype: solid;
  border-color: @white;
  color: @blue;
  text-transform: uppercase;
  cursor: default;
}

.deal {
    &:after { content: "deal" }
}

.betOne {
    &:after { content: "bet one" }
}

.betMax {
    &:after { content: "bet max" }
}

.balance {
  text-transform: uppercase;
  position: absolute;
  font-family: Arial;
  &:before { content: "credits "}
}

.bet {
  text-transform: uppercase;
  position: absolute;
  font-family: Arial;
  &:before { content: "bet "}
}

.paytable {
  text-transform: uppercase;
  border-collapse: collapse;
  position: absolute;
  font-weight: bold;
  border-color: #2A4480;
  font-family: Arial;
  border-style: solid;

  tr {
    td {
      &.highlight {
        background-color: @red;
      }
    }

    td:first-child {
        &.highlight {
            color: #FFFFFF;
        }

        background-color: transparent;
        color: yellow;
        padding-left: 25%;
        width: 55%;
    }

    td:eq(1) {
    }
  }
}

.not-logged-in, .logged-in {
  display: none;
}

.welcome {
  position: absolute;

  .message {
    background-color: white;
    padding: 50px 50px 50px 50px;
  }

  .games {
    list-style-type: none;

    li a {
      display: block;
      font-size: 1.75em;
      padding: 20px;
      margin: 10px;
      border: solid 2px #333;
      background-color: #9999ff;
      color: black;
      text-align: center;
      text-transform: uppercase;
    }
  }
}