html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  background: url(/media/az_subtle.png);
}

.job-machine {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.rwb-machine {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#primary-container {
  float: left;
}

#right-bar {
  float: left;
  width: 300px;
  height: 100%;

  #minigames-container {
  }

  #chat {
    height: 100%;
    padding-left: 5px;

    .user-count {
      background-color: #FFFFFF;
      padding-top: 5px;
      padding-right: 20px;
      text-align: right;
    }

    background: url(/media/grey.png);


    .messages {
      display: block;
      margin: 0;
      font-family: Arial;
      font-size: 16px;
      list-style-type: none;
      padding-right: 5px;

      > li {
        padding: 8px 2px 8px 10px;
        background-color: #99CCFF;

        margin: 5px 0 5px 0;
        border-radius: 10px;
        -webkit-border-radius: 10px;

        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
        overflow-x: hidden;

        &.system {
          background-color: #66CCFF;
        }

        &.sprinkles {
          background-color: #FF99FF;
        }
      }

      overflow-y: scroll;
    }

    .message {
      width: 280px;
    }

    .send {
      width: 281px;
      margin-top: 10px;
    }
  }
}

.not-logged-in, .logged-in {
  display: none;
}
